<div class="template-selector-item">
  templateIsAdded: {{templateIsAdded}}
  <che-list-item flex>

    <div flex="100"
         layout="row"
         layout-align="start stretch"
         class="che-list-item-row">

      <div layout="row"
           layout-align="center center"
           class="che-checkbox-area template-selector-item-checkbox">
        <che-list-item-checked ng-model="isChecked"
                               ng-disabled="templateIsAdded"
                               che-aria-label-checkbox="Sample {{template.name}}"
                               ng-click="onTemplateClick({templateName: template.name, isChecked: isChecked})"></che-list-item-checked>
      </div>

      <div flex="25" layout="column" layout-align="center start">
        <span class="che-list-item-name template-selector-item-name">{{template.name}}</span>
      </div>

      <div flex layout="column" layout-align="center start">
        <span class="che-list-item-name template-selector-item-description">{{template.description}}</span>
      </div>

    </div>

  </che-list-item>

</div>
